extends ../common/greetings

block title
  | Email認証

block content
  if isRegistrationRequest
    p あなたは今 #[a(href=WEBSERVER.URL) #{instanceName}] にアカウントをリクエストしました。
  else
    p あなたは今 #[a(href=WEBSERVER.URL) #{instanceName}] にアカウントを作成しました。

  if isRegistrationRequest
    p 登録リクエストを完了するには、まず電子メールを確認する必要があります！
  else
    p アカウントの使用を開始するには、まず電子メールを確認する必要があります！

  p.
    アカウントを使用するには、まずメールアドレスを認証する必要があります。
    #[a(href=verifyEmailUrl) このリンク] をたどって、このメールアドレスがあなたのものであることを認証してください。
  p.
    もし上の認証リンクが表示されない場合は、次のリンク #[a(href=verifyEmailUrl) #{verifyEmailUrl}] をご利用ください。
  p.
    このリクエストを開始したのがあなたでない場合、このメールを無視してください。
